---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import { configDev } from "../siteConstants/siteSettings";
import projects from "../data/projects.json";
let apiUrl = `https://dev.to/api/articles?username=${configDev.devtoUsername}`;
const response = await fetch(apiUrl);

const posts = await response.json();
posts.sort((a, b) => b.published_at.localeCompare(a.published_at));

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I am {configDev.developerName}</div>
    <div class="text-3xl py-3 font-bold">{configDev.role}</div>
    <div class="py-2">
      <text class="text-lg">
        {configDev.descriptionString}
      </text>
    </div>
    <div class="mt-8">
      <!-- twitter logo button in tailwind x color r 30 g48 b80  -->
      <a
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        href="https://twitter.com/manuelernestog"
        target="_blank"
      >
        <i class="fa fa-twitter mr-2"></i>
        Let's connect on X!</a
      >
      <a
        href="https://github.com/manuelernestog/astrofy"
        target="_blank"
        class="btn btn-outline ml-5"
      >
        Get This template
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">
      <!-- add fontawesome icon work -->
      <i class="fa fa-briefcase"></i> Projects I am working on now {"</>"}
    </div>
  </div>
  <!-- this part loads data from json file located in data folder and then use map to print out -->

  <!-- if empty show no project -->
  {
    projects.length === 0 ? (
      <div class="text-xl w-full font-bold mb-2">
        No project to show at the moment .. why not hire me to build one for
        you?
      </div>
    ) : (
      projects.map((project, index) => (
        <div key={index}>
          <HorizontalCard
            title={project.title}
            img={project.img}
            desc={project.desc}
            url={project.url}
            badge={
              project.is_foss
                ? "FOSS"
                : project.title === "Demo Project 1"
                ? "NEW"
                : ""
            }
          />
          {index < projects.length - 1 ? <div class="divider my-0" /> : ""}
        </div>
      ))
    )
  }
  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">
      Latest from from my blog at Dev.To
    </div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.title}
          img={post.social_image}
          desc={post.description}
          url={post.canonical_url}
          badge={post.tags}
          target="_self"
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
